<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BigMoji.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>123008622A4A9B3C00A43ADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123008722A4A9B3D00A43ADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1230087C2A4A9B3D00A43ADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
